<div class="page-header">
    <h1>Password Management</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-3 pw-container" style="min-width: 400px;">
            <h2>Step 1: Choose new password</h2>
            <form style="padding-left: 20px;">
                <input type="password" ng-model="pwdCtrl.pwd" class="pwd" ng-change="pwdCtrl.validate()">
                <div ng-repeat="result in pwdCtrl.validatedResult" class="validator-label" ng-class="{green: result.valid}">
                    <span class="glyphicon glyphicon-ok-sign"></span>
                    <span>{{result.content}}</span>
                </div>
                <div class="failed-count">{{pwdCtrl.failedCount}} check failed</div>
                <button class="set-pwd-button" ng-disabled="pwdCtrl.failedCount>0"
                        ng-class="{buttonenabled: pwdCtrl.failedCount == 0}" ng-click="pwdCtrl.gotoView()">set password
                </button>
            </form>
        </div>
        <div class="col-xs-5"></div>
    </div>
</div>